body {
  display: flex;
  flex-direction: column;
}
body > .main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

body > main > article {
  flex: 2;
  overflow-y: auto;
}
.main aside {
  flex: 1;
  overflow-y: auto;
}

header > ul > li > a.logo {
  font-size: 3rem;
}
